@use './variables';
@import '@/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: map-get(variables.$company_color, striking_white);
}

html {
  min-height: 100%;
}

a {
  color: inherit; 
  text-decoration: inherit; 
  font-size: 1rem;
}

p {
  margin: 0;
}

.body-inner-container {
  height: 100%;
  // background: map-get(variables.$company_color, lexmeet_gradient);
  margin-left: 78px;
  transition: all 0.5s ease;

  &.move-body {
    margin-left: 260px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.alert-text {
  color: map-get(variables.$company_color, striking_gray);
}