@use './variables';
@import '../node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: map-get(variables.$company_color, white);
}

body {
  margin: 0;
  color: map-get(variables.$company_color, white);
}

a {
  color: inherit; 
  text-decoration: inherit; 
  font-size: 1rem;
}