@use '@/variables';

.tags-dropdown {
    position: relative;
    display: inline-block;
  
    .dropdown-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px 12px;
      background: #ffffff;
      border: 1px solid #dcdcdc;
      font-size: 14px;
      font-weight: 500;
      transition: background-color 0.3s ease;
  
      &:hover {
        background: #f7f7f7;
      }
    }
  
    .dropdown-menu-custom {
      position: absolute;
      top: 100%;
      left: 0;
      background: #ffffff;
      border: 1px solid #dcdcdc;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
      z-index: 90;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-sizing: border-box;
      border-radius: 10px;
      user-select: none; // Prevents text selection
      -webkit-user-select: none; // For Safari
      -moz-user-select: none; // For Firefox
      -ms-user-select: none; // For Internet Explorer and Edge

      // Hide scrollbar
      &::-webkit-scrollbar {
        display: none;
      }
  
      // For other browsers
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }
  
    .tag-item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px 12px;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      font-size: 14px;
      transition: background-color 0.3s ease;
      border-radius: 0px;
      background: #ffffff;

      &:hover {
        background: map-get(variables.$company_color, lawful_purple_2);
        color: white;
      }
  
      &.selected {
        background: map-get(variables.$company_color, lawful_purple_1);
      }
    }
  
    .dropdown-icon {
      margin-left: 8px;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
  
      &.open {
        transform: rotate(0deg);
      }
    }
  }
  